[project]
	description = Workshop about gerrit
[access "refs/*"]
	owner = group user/scheibinger (scheibinger)
[access "refs/for/refs/*"]
	read = group user/scheibinger (scheibinger)
	push = group user/scheibinger (scheibinger)
	label-Code-Review = -2..+2 group user/scheibinger (scheibinger)
	label-Verified = -1..+1 group user/scheibinger (scheibinger)
	rebase = group user/scheibinger (scheibinger)
	removeReviewer = group user/scheibinger (scheibinger)
	submit = group user/scheibinger (scheibinger)
[access "refs/heads/*"]
	read = group user/scheibinger (scheibinger)
	create = group user/scheibinger (scheibinger)
	push = +force group user/scheibinger (scheibinger)
	pushMerge = group user/scheibinger (scheibinger)
[access "refs/tags/*"]
	push = +force group user/scheibinger (scheibinger)
	pushTag = group user/scheibinger (scheibinger)
	pushSignedTag = group user/scheibinger (scheibinger)
